@font-face {
    font-family: "bilabong";
    src: url("../font/Billabong.ttf") format("truetype");
}

body,
html {
    background-color: #fafafa;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.logo {
    font-size: 35px;
    font-family: "bilabong", sans-serif;
    color: #363636;
}

.search {
    position: absolute;
    margin: auto;
    top: 10px;
    left: 45%;
    width: 200px;
    height: 100px;
}

.white {
    color: white;
}

.black {
    color: black;
}

.navbar>.containeur {
    min-height: 3.25rem;
    align-items: stretch;
    margin: auto;
    display: flex;
    width: 95%;
}

.bandau {
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
}

.profile {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-size: contain;
}

.icone a {
    display: inline-block;
    width: 24px;
    height: 24px;
    transition: all .1s linear;
    margin-left: 1vw;
}

.icone .home {
    background-color: black;
    mask-image: url('../icone/home.svg');
}

.icone .home:hover {
    background-color: #363636;
    mask-image: url('../icone/home.svg');
    mask-size: contain;
}

.icone .home_active {
    background-color: black;
    mask-image: url('../icone/is_home.svg');
}

.icone .likes {
    background-color: black;
    mask-image: url('../icone/like.svg');
    mask-size: contain;
}

.icone .likes:hover {
    background-color: #ec7063;
    mask-image: url('../icone/is_like.svg');
}

.icone .photo {
    background-color: black;
    mask-image: url('../icone/photo.svg');
    mask-size: contain;
}

.icone .photo_active {
    background-color: black;
    mask-image: url('../icone/is_photo.svg');
}

.icone .photo:hover {
    background-color: #363636;
    mask-image: url('../icone/is_photo.svg');
}

.icone .logout {
    background-color: black;
    mask-image: url('../icone/logout.svg');
    mask-size: contain;
}

.icone .logout:hover {
    background-color: #ec7063;
    mask-image: url('../icone/is_logout.svg');
}

img {
    max-width: 180px;
}

input[type=file] {
    padding: 10px;
    background: #2d2d2d;
}

.pading_montage {
    padding: 20px;
}

.slider {
    -webkit-appearance: none;
    margin-top: 1%;
    margin-right: 2.5%;
    width: 30%;
    height: 10px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: #363636;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 10%;
    border: 2px solid rgb(37, 37, 37);
    background: #363636;
    cursor: pointer;
  }